/* ============================================
   MEOWNNTY STUDIO 
   #FF0073  → Neon Pink (Main)
   #00FF40  → Neon Green (Main)
   #FFBED8 -> Light Pink (Accent)
   #BAEDBE -> Light Green (Accent)
   #FFFFFF -> White accent
   ============================================ */
body {
  background-image: url('Assets/images/Website background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
