html, body {
    height: 6000px; /* same as image */
    margin: 0;
    background-color: #0b1c2d;
    overflow-x: hidden;
}

.spacer {
    height: calc(6000px - 100vh);
}
.background-water {
    position: absolute; /* NOT fixed anymore */
    top: 0;
    left: 0;
    width: 100%;
    height: 6000px;
    background-image: url("images/background.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -1;
}

/* Content floats above */
.container {
    position: relative;
    z-index: 1;
    max-width: 900px;
    margin: auto;
    padding: 2rem;
}
