﻿ /* Global Styles */
body {
    margin: 0;
    font-family: "Nunito", sans-serif; /* readable body font */
    background-image: url("images/background.jpeg");
    background-size: cover;
    background attachement: scroll;
    background-position: center;
    line-height: 1.6;
}

.background-water {
    position: fixed; /* stays on screen while scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/background.jpeg");
    background-size: cover;
    background-position: center;
    z-index: -1; /* behind everything else */
}


/* Headers */
h1, h2, h3 {
    font-family: "Indie Flower", cursive; /* playful, bubbly font */
}

    h1.header {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

h2 {
    margin-top: 2.5rem;
    border-bottom: 1px solid #2a2a40;
    padding-bottom: 0.3rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}

/* Intro paragraph */
.intro {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/* Projects section */
.projects {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.project {
    background-color: #F8C0C8;
    padding: 1rem;
    border-radius: 15px; /* bubbly corners */
    transition: transform 0.3s, box-shadow 0.3s;
}

    .project:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(255, 71, 108, 1); /* bubble gum pink glow */
    }

/* Paragraphs & Interests */
p {
    margin-bottom: 0.8rem;
}

/* Links */
a {
    color: #8ab4ff;
    text-decoration: none;
    transition: color 0.3s;
}

    a:hover {
        color: #ff9ce5; /* playful hover */
    }
