html, body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    overflow-x: hidden; /* prevent horizontal scroll */
    background-color: #0b1c2d;
}

/* Set the body height to image height so you can scroll fully */
body {
    height: 6000px; /* image height */
}

/* Background div */
.background-water {
    position: absolute; /* absolute so it moves with JS */
    top: 0;
    left: 0;
    width: 100%;
    height: 6000px; /* image height */
    background-image: url("images/background.jpeg");
    background-size: cover; /* fill the width, crop if needed */
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -1;
}
