body {
    margin: 0;
    .indie-flower-regular

{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

    background-color: #0b0b12;
    color: #f2f2f7;
    line-height: 1.6;
}

/* Center content */
.container {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
}

/* Headings */
h1 {
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
}

h2 {
    margin-top: 2.5rem;
    border-bottom: 1px solid #2a2a40;
    padding-bottom: 0.3rem;
}

/* Projects section */
.project {
    margin-top: 1.5rem;
}

/* Images */
img {
    max-width: 100%;
    border-radius: 8px;
}

/* Links */
a {
    color: #8ab4ff;
    text-decoration: none;
}
